DATABASE_URL=postgres://...neon.tech/...
NVIDIA_API_KEY=nvapi-...
NVIDIA_EMBEDDING_MODEL=nv-embed-qa
ZILLIZ_URI=https://...zilliz.cloud
ZILLIZ_TOKEN=...
ZILLIZ_COLLECTION=anythingllm_default
ZILLIZ_DATABASE=
GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account",...}
WORKER_HEARTBEAT_MS=5000
RATE_LIMIT_PER_MINUTE=20
MAX_HISTORY_MESSAGES=20
